
section.bio-section {
    color: white;
    background-image: url("../../../public/images/biography-bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
